/* Global */
.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  padding: 1% 3%;
  margin: 0;
  font-size: 18px;
  background: linear-gradient(-45deg, #df4e22, #d71f66, #18a3d6, #1bd5a6);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  min-height: 100vh;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  color: white;

  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
}

/* Home section */
.title {
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.mt-title {
  margin: 20% 0 2% 0;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.doc-title {
  font-size: 50px;
}



/* Search bar styling */
.search-bar {
  border-radius: 20px;
  padding: 10px 20px;
}


/* Doc formatting */
.doc {
  text-align: left;

  color: white;
}

.flex {
  display: flex
}


/* Card */
.cards {
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  padding: 30px 30px 20px 30px;
}

.notes {
  font-size: 14px;
  color: grey;
}

.img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.card-img {
  object-fit: cover;
}